---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Font Import
// ––––––––––––––––––––––––––––––––––
@font-face {
  font-family: 'Maison Neue';
  src: url('../assets/fonts/maisonneuebook.eot');
  src: url('../assets/fonts/maisonneuebook.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/maisonneuebook.woff2') format('woff2'),
       url('../assets/fonts/maisonneuebook.woff') format('woff'),
       url('../assets/fonts/maisonneuebook.ttf') format('truetype'),
       url('../assets/fonts/maisonneuebook.svg#maison_neuebook') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('../assets/fonts/maisonneuebold.eot');
  src: url('../assets/fonts/maisonneuebold.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/maisonneuebold.woff2') format('woff2'),
       url('../assets/fonts/maisonneuebold.woff') format('woff'),
       url('../assets/fonts/maisonneuebold.ttf') format('truetype'),
       url('../assets/fonts/maisonneuebold.svg#maison_neuebold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('../assets/fonts/maisonneuemono-webfont.eot');
  src: url('../assets/fonts/maisonneuemono-webfont.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/maisonneuemono-webfont.woff2') format('woff2'),
       url('../assets/fonts/maisonneuemono-webfont.woff') format('woff'),
       url('../assets/fonts/maisonneuemono-webfont.ttf') format('truetype'),
       url('../assets/fonts/maisonneuemono-webfont.svg#maison_neuemono') format('svg');
  font-weight: 900;
  font-style: normal;

}

// Color Variables
// ––––––––––––––––––––––––––––––––––
$black:     #000;
$white:     #FFF;
$ghost:     #C9C9C9;
$dk-grey:   #333;
$md-grey:   #666;
$lt-grey:   #999;

$trans-white: rgba(255, 255, 255, 0.93);

// Font Variables
// ––––––––––––––––––––––––––––––––––
$font-family: "Maison Neue";
$light: 100;
$bold: 600;
$mono: 900;
$font-size:   16px;
// $font-weight: $light;
$line-height: 1.5;
$body-color: $black;

// Breakpoints
// ––––––––––––––––––––––––––––––––––
$small:   600px;
$medium:  800px;
$large:  1000px;


// Mixins
// ––––––––––––––––––––––––––––––––––
@mixin breakpoint($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

@mixin vertical-align {
  position: relative;
  top: 48%;
  -webkit-transform: translateY(-48%);
  -ms-transform: translateY(-48%);
  transform: translateY(-48%);
}

@mixin flush {
  padding-left: 0;
}

// Utility Classes
// ––––––––––––––––––––––––––––––––––
.right {
  float: right;
  text-align: right;
}

.clearfix {
  clear: both;
}

// Import Partials
// ––––––––––––––––––––––––––––––––––
@import
  "../bower_components/normalize.css/normalize.css",
  "../bower_components/susy/sass/susy",
  "base",
  "grid_settings",
  "svg",
  "layout",
  "header",
  "home",
  "footer",
  "project"
;
