---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Font Variables
$font-family: Helvetica, Arial, sans-serif;
$font-size:   16px;
$line-height: 1.5;

// Color Variables
$black:     #000;
$white:     #FFF;
$dk-grey:   #333;
$md-grey:   #666;
$lt-grey:   #999;

$trans-white: rgba(255, 255, 255, 0.93);

// Breakpoints
$small:   600px;
$medium:  800px;
$large:  1000px;


// Using media queries with like this:
// @include media-query($small) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "normalize",
        "base",
        "layout"
;
