<footer class="site-footer">
    
  <div class="links">
    <h2 class="mono">Elsewhere</h2>
    <a href="https://github.com/neilspurgeon">Github</a>
    <a href="https://www.behance.net/neilspurgeon">Behance</a><br/><br/>
    <a href="https://www.behance.net/neilspurgeon">CodePen</a>
    <a href="http://linkedin.com/in/neilspurgeon">LinkedIn</a>
  </div>

  <div class="contact">
    <h2 class="mono">Contact</h2>
    <a href="mailto:hello@neilspurgeon.com">hello@neilspurgeon.com</a><br/><br/>
    <a href="tel:+18057483201">805 748 3201</a>
  </div>

  <div class="copyright">
    <p>2015 Neil Spurgeon</p>
  </div>

</footer>