html, body {
  height: 100%;
  transition: .5s ease all;
  font-family: $font-family;
  background-color: $offWhite;
}

body {
  font-size: $font-size;
  line-height: $line-height;
}

a, a:visited, a:hover {
  color: $body-color;
}

p {
  font-weight: $light;
}

h1 {
  font-size: 1.33em;
  font-weight: $light;
}

h2 {
  font-size: 1em;
  font-weight: $bold;
}

h3 {
  
}


.bold {
  font-weight: $bold;
}

.mono {
  font-weight: $mono;
}

p {

}

img {
  width: 100%;
}