// footer
// ––––––––––––––––––––––––––––––––––

.site-footer {
  @include container;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  // display: none;
  padding: 3em 0;
  clear: both;
  z-index: -1;
  height: 50vh;
}

.copyright {
  @include span(4);
  color: $ghost;
  @include breakpoint($medium) {
    @include span(2 at 3);
    bottom: 3em;
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: 0 0 2em;
    clear: both;
  }

}

.links, .contact {
  @include span(4);
  margin: 0 0 3em;
  @include breakpoint($medium) {
    @include span(1 at 4);
    @include flush;
  }
  a {
    font-weight: $mono;
    margin-right: 1em;
  }
}

.contact a {
  text-decoration: none;
}
