// Project
// ––––––––––––––––––––––––––––––––––

.project-container {
  margin: 3em 0 0;
}

.project-info, .project-images {
  @include span(4);
}

.project-info {
  @include breakpoint($large) {
    @include span(2 of 6);
    position: fixed;
  }
  p, h1 {
    margin-top: 0;
  }
}

.project-images {
  margin: 0 0 50%;
  margin: 0 0 50vh;
  background-color: $off-white;
  @include breakpoint($large) {
    @include span(4 of 6 last);
    img {
      width: 100%;
    }
  }
  @include verticalBreakpoint($medium) {
    margin-bottom: 100%;
    margin-bottom: 100vh;
  }
}

.label {
  font-weight: $mono;
  font-size: .8em;
  margin-bottom: 0;
  padding-bottom:  .5em;
  color: $lt-grey;
}