// Project
// ––––––––––––––––––––––––––––––––––

.project-container {
    margin: 3em 0 0;
}

.project-info, .project-images {
  @include span(4);
}

.project-info {
  @include breakpoint($medium) {
    @include span(1);
    position: fixed;
  }
  p, h1 {
    margin-top: 0;
  }
}

.project-images {
  margin: 0 0 50%;
  margin: 0 0 50vh;
  background-color: $white;
  @include breakpoint($medium) {
    @include span(3 last);
    img {
      width: 100%;
    }
  }
}

.label {
  font-weight: $mono;
  font-size: .8em;
  margin-bottom: 0;
  padding-bottom:  .5em;
  color: $lt-grey;
}